{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block content %}
	<br>
	<div class="container-fluid h-custom">
		<link href="{{asset ('/css/login.css')}}" media="screen" rel="stylesheet">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-md-9 col-lg-9 col-xl-4">
				<img src="https://images.squarespace-cdn.com/content/v1/548be07be4b0eefd6c538539/1462896750712-0U0AG0E7WP351H1TEIJH/image-asset.png" class="img-fluid" alt="Sample image">
			</div>
			<div></div>
			<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
				<div>

					<br><br>
					<h4 class="text-center mt-1 mb-5 pb-1" style="color:grey;">Bienvenue sur LevelUP</h4>
				</div>


				<form method="post">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}


					<div class="form-outline mb-4">
						<input type="email" id="form3Example3" name="email" value="{{ last_username }}" class="form-control form-control-lg" placeholder="Enter a valid email address"/>

					</div>

					<!-- Password input -->
					<div class="form-outline mb-3">
						<input type="password" id="form3Example4" class="form-control form-control-lg" placeholder="Enter password" name="password"/>

					</div>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<div
						class="d-flex justify-content-between align-items-center">
						<!-- Checkbox -->
						<a href="{{ path('app_forgotten_password') }}" class="text-body" style="color:grey;">Mot de passe oublié?</a>
					</div>


					<br>
					<div>

						<button class="btn btn-primary btn-lg" style="padding-left: 2.5rem; width:100%; padding-right: 2.5rem;
							              background-color:#43cdb1; border-color:#43cdb1;" type="submit">
							Se connecter</button>
						<p class=" justify-content-center small fw-bold mt-2 pt-1 mb-0">Avez-vous un compte?
							<a href="{{ path('app_user_inscription') }}" class="link-danger">S'inscrire</a>
						</p>
					</div>


				</form>

			</div>
		</div>
	</section>
	<br><br><br>
{% endblock %}
