{% extends 'backbase.html.twig' %}


{% block contentback %}

	<div class="main">
		<div style="display:flex; width:100%; align-items:center;justify-content:space-between;">
			<div style="margin-left:3%;"><h1>Les utilisateurs</h1></div>
			<div style="display:flex; width:40%;">
				<form method="POST">
						
						<button type="submit" style="background-color:transparent; border-color:white;">
							<i class="fa fa-search" aria-hidden="true" style="font-size: 16px;"></i>
						</button>
						<input type="text" name="prenom" style="height:90%; border-color:white;width:200px;border-radius:10%;">

					</form>
					<form action="{{ path('app_user_new') }}">
						<button class="btn" style="margin-left:5%; width:200px;">
							<i class="fa fa-plus-circle" aria-hidden="true" style="font-size: 16px;"></i>
							Ajouter utilisateur</button>
					</form>
			</div>
		</div>
		


	</div>
</div>
<br>
<link href="{{asset ('/css/card.scss')}}" media="screen" rel="stylesheet">


<div class="wrapper">

	<div class="cards_wrap">

		{% for user in users %}
			<div class="card_item">
				<div class="card_inner">

					<div class="container">
						<img src="{{ asset('uploads/images/products/'~user.image~'')}} " alt="" class="profile-img">

						<div class="content">
							<div class="sub-content">
								<h3>{{user.nom ~ ' ' ~ user.prenom}}</h3>
								<p>{{user.role}}</p>

								<span>
									<i class="fa fa-envelope-square" aria-hidden="true" style="font-size: 16px;
																																												  margin-right: 5px;"></i>
									<b>{{user.email}}</b>
								</span>
								<span class="location">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
									<b>{{user.adresse}}</b>
								</span>
								<p>
									<i class="fa fa-phone" aria-hidden="true" style="font-size: 16px;
																																												  margin-right: 5px;"></i>
									{{user.tel}}</p>
								<table class="center">
									<td>
										<form action="{{ path('app_user_edit', {'idUser': user.idUser}) }}">
											<button class="btn">
												<i class="fa fa-pencil" aria-hidden="true" style="font-size: 16px;
																																																					  margin-right: 5px;"></i>Modifier</button>
										</form>
									</td>
									<td>

										{{ include('user/_delete_form.html.twig') }}
									</td>
								</table>
							</div>

						</div>

					</div>

				</div>
			</div>
		{% endfor  %}

	</div>
	<div class="navigation text-center">
		{{ knp_pagination_render(users) }}
	</div>


</div></div>{% endblock %}
