{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}
    <h1>Commande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdCommande</th>
                <th>PrixLivraison</th>
                <th>DateCommande</th>
                <th>PrixProduits</th>
                <th>PrixTotal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.idCommande }}</td>
                <td>{{ commande.prixLivraison }}</td>
                <td>{{ commande.dateCommande ? commande.dateCommande|date('Y-m-d') : '' }}</td>
                <td>{{ commande.prixProduits }}</td>
                <td>{{ commande.prixTotal }}</td>
                <td>
                    <a href="{{ path('app_commande_show', {'idCommande': commande.idCommande}) }}">show</a>
                    <a href="{{ path('app_commande_edit', {'idCommande': commande.idCommande}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commande_new') }}">Create new</a>
{% endblock %}
