{% extends 'base.html.twig' %}

{% block title %}Comment{% endblock %}

{% block body %}
    <h1>Comment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idc</th>
                <td>{{ comment.idc }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ comment.contenu }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ comment.label }}</td>
            </tr>
            <tr>
                <th>Resp</th>
                <td>{{ comment.resp }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_comment_index') }}">back to list</a>

    <a href="{{ path('app_comment_edit', {'idc': comment.idc}) }}">edit</a>

    {{ include('comment/_delete_form.html.twig') }}
{% endblock %}
