{% extends 'base.html.twig' %}

{% block title %}Vote index{% endblock %}

{% block body %}
    <h1>Vote index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idv</th>
                <th>VoteType</th>
                <th>user</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vote in votes %}
            <tr>
                <td>{{ vote.idv }}</td>
                <td>{{ vote.voteType }}</td>
                <td>{{ vote.id.id }}</td>
                <td>{{ vote.idUser.idUser }}</td>




                <td>
                    <a href="{{ path('app_vote_show', {'idv': vote.idv}) }}">show</a>
                    <a href="{{ path('app_vote_edit', {'idv': vote.idv}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_vote_new') }}">Create new</a>
{% endblock %}
