{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{% for message in app.flashes('info') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
{{ form_end(form) }}
