{% extends 'backbase.html.twig' %}

{% block contentback %}

{#    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">#}
    <link href="{{asset ('/css/formBack.css')}}" media="screen" rel="stylesheet">

    <div class="form-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="form-container">
                        <h3 class="title">Register</h3>
                        <div class="form-horizontal">
                            {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
                            {{ form_errors(form.nom,{'attr':{'class':'text-danger'}}) }}
                            {#    <input type="text" class="form-control" id="defaultFormControlInput" placeholder="John Doe" aria-describedby="defaultFormControlHelp">#}
                            {{ form_widget(form) }}
                            <a href="{{ path('app_produit_index') }}">Retourner à la liste des Produits</a>
                            <button class="btn signup">{{ button_label|default('Ajouter') }}</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}