{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block  header %}

{% set i=0 %}
  {% set nbr=0 %}
 {% set liv=0 %}
{% set Total=0 %}
{% for pan in panierElements | reverse %}
{% set i=i+ (pan.quantite * pan.id.prix) %}
{% set nbr= nbr+ 1 %}
 {% endfor %}
 {% if ( i <= 100) and (nbr != 0) %}
{% set liv=10 %}
{% set Total=i+liv %}
{% else %}
{% set liv=0 %}
{% set Total=liv+i %}
{% endif %}  
      <li class="nav-item" style="margin-top : -30px; margin-bottom:30px">
               <div class="site-branding-area">
                 <div class="container">
                <div class="row">
                <div class="col-lg-12">
               <div class="shopping-item">
                  <a href="{{ path('app_panier_elements') }}">Cart - <span class="cart-amunt">{{Total}} DN</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">{{nbr}}</span></a>
                </div>
                 </div>
          </div>
            </div>
          </li>     
 {% endblock  %}


{% block body %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Details produit</h1>
     </div>
</section>

    <section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="card text-black">
          <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/3.webp"
            class="card-img-top"
            alt="Apple Computer"
          />
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">{{produit.nom}}</h5>
              <p class="text-muted mb-4">{{produit.description}}</p>
            </div>
    
              <div class="d-flex justify-content-between">
                <span>Categorie : </span><span>{{produit.idCategorie.nomCategorie}}</span>
              </div>
            <div class="d-flex justify-content-between total font-weight-bold mt-4">
              <span>Prix : </span><span>{{produit.prix}} $</span>
            </div>
            {%  if ( test == true) %}
            <form action="{{ path('app_panier_elem_new',{'idProduit' : produit.idProduit , 'idUser': 1}) }}">
              <span>Quantite : </span><input type="number" name="quantite" value="1" min="1" max="20" step="1"/>
            <button class="btn btn-main" style="margin-left : 38px ; margin-top: 30px" type="submit">Ajouter au panier</a>  
          </form>
          {% endif %}
          {%  if ( test == false) %}
           <div class="d-flex justify-content-between total font-weight-bold mt-4">
              <span>Le produit existe déja dans le panier .</span>
            </div>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

   
{% endblock %}
