{% extends 'base.html.twig' %}


{% block content %}
<br><br>

<!------ Include the above in your HEAD tag ---------->

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 	<script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
	{{ include('@MercurySeriesFlashy/flashy.html.twig') }}
	<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet'>
	<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
<div class="container" >
	<div class="row justify-content-center">
		<div class="col-md-5 col-md-offset-3">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h1><i class="fa fa-lock fa-4x" style="color:#43cdb1;"></i></h1>
                  <h4 class="text-center" style="color:dark-grey;">Mot de passe oublié?</h4>
                  <p>Vous pouvez recuperer votre mot de passe ici.</p>
                  <div class="panel-body">
    
                    <form id="register-form" role="form" autocomplete="off" class="form" method="post">
    
                      <div class="form-group">
                       {{ form_start(emailForm) }}
        	
            
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          {{ form_widget(emailForm.email,{'attr':{ 'placeholder':'Entrer votre email'}}) }}
                        </div>
                      </div>
                      <div class="form-group">
                        <button name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" style=" background-color:#43cdb1; border-color:#43cdb1;"type="submit">
                        {{ button_label|default('Recuperer mot de passe') }}
                        </button>
                      </div>
                      
                  {{ form_end(emailForm) }}

                    </form>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>


<br><br>
{% endblock %}