{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block content %}
	
	<script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
	{{ include('@MercurySeriesFlashy/flashy.html.twig') }}
	<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet'>
	<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
	<br>
	<div class="container-fluid h-custom">
	   <link href="{{asset('libback/font-awesome/css/font-awesome.css')}}" rel="stylesheet" />

		<link href="{{asset ('/css/login.css')}}" media="screen" rel="stylesheet">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-md-9 col-lg-9 col-xl-4">
				<img src="https://images.squarespace-cdn.com/content/v1/548be07be4b0eefd6c538539/1462896750712-0U0AG0E7WP351H1TEIJH/image-asset.png" class="img-fluid" alt="Sample image">
			</div>
			<div></div>
			<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
				<div>

					<br><br><br><br>
				
				</div>

          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
          <a class="btn btn-primary btn-lg btn-block" style="background-color: #E74C3C; border-color:#E74C3C;" href="{{ path('connect_google_start') }}"
            role="button">
            <i class="fa fa-google mr-2"></i>Connecter avec google
          </a>
          

            
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Ou</p>
          </div>
            
				<form method="post">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}


					<div class="form-outline mb-4">
						<input type="email" id="form3Example3" name="email" value="{{ last_username }}" class="form-control form-control-lg" placeholder="Enter a valid email address"/>

					</div>

					<!-- Password input -->
					<div class="form-outline mb-3">
						<input type="password" id="form3Example4" class="form-control form-control-lg" placeholder="Enter password" name="password"/>

					</div>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<div
						class="d-flex justify-content-between align-items-center">
						<!-- Checkbox -->
						<a href="{{ path('app_forgotten_password') }}" class="text-body" style="color:grey;">Mot de passe oublié?</a>
					</div>


					<br>
					<div>

						<button class="btn btn-primary btn-lg" style="padding-left: 2.5rem; width:100%; padding-right: 2.5rem;
							              background-color:#43cdb1; border-color:#43cdb1;" type="submit">
							Se connecter</button>
						<p class=" justify-content-center small fw-bold mt-2 pt-1 mb-0">Avez-vous un compte?
							<a href="{{ path('app_inscription') }}" class="link-danger">S'inscrire</a>
						</p>
					</div>


				</form>
				<br><br>

			</div>
		</div>
	</section>
	<br><br><br>
{% endblock %}
