{% extends 'backbase.html.twig' %}



{% block headback %}
<head>
<meta charset="utf-8">
	<script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
	{{ include('@MercurySeriesFlashy/flashy.html.twig') }}
	<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet'>
	<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="{{asset ('/css/profile.css')}}" media="screen" rel="stylesheet">
    <link href="{{asset('imgback/favicon.png')}}">
    <link href="{{asset('imgback/apple-touch-icon.png' )}}"rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="{{asset('libback/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <!--external css-->
    <link href="{{asset('libback/font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
    <link href="{{asset('cssback/zabuto_calendar.css')}}"rel="stylesheet" type="text/css" >
    <link rel="stylesheet" type="text/css" href="{{asset('back-end/lib/gritter/css/jquery.gritter.css')}}" />
    <!-- Custom styles for this template -->
    <link href="{{asset('cssback/style.css')}}" rel="stylesheet">
    <link href="{{asset('cssback/style-responsive.css')}}" rel="stylesheet">
    <script src="{{asset('libback/chart-master/Chart.js')}}"></script>
 </head>
 {% endblock %}
 {% block contentback %}
<div class="container rounded bg-white mt-5 mb-5" style=" box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
">
    <div class="row">
        <div class="col-md-3 border-right" style="box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);" >
        <br><br><br><br>

        	{{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
            <div class="d-flex flex-column align-items-center text-center p-3 py-5" >
          
         {% set image = app.session.get('image') %}
            <img class="rounded-circle mt-5" style="border: 3px solid #43cdb1;" width="150px" height="150px"
            src="{{ asset('uploads/images/products/'~image~'')}}">
            <br>
            <h4 class="font-weight-bold" style="color:#43cdb1;">{{app.session.get('prenom')|upper ~ ' ' ~ app.session.get('nom')|upper}}</h4>
            
            
            
              <span class="font-weight-bold">{{app.session.get('role')}}</span><span class="text-black-50">{{ user.email }}</span>
            
            </div>
          

         
        </div>
        <div class="col-md-6 border-right ">
            <div class="p-3 py-5" >
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right" style="padding-left: 30px;"> Paramétres du profil</h4>
                </div>
                
                <div class="row mt-3" style="padding-left: 50px;">
      <form method="post" action="{{ path('app_account') }}">
                    <div  class="form-group row"><label class="labels">Preom</label>
                       {{ form_widget(form.prenom,{'attr':{'class':'form-control'}}
						)}}
						{{ form_errors(form.prenom,{'attr':{'class':'text-danger'}}) }}
                        </div>
                    <div  class="form-group row"><label class="labels">Nom </label>
                    {{ form_widget(form.nom,{'attr':{'class':'form-control'}}
						)}}
						{{ form_errors(form.nom,{'attr':{'class':'text-danger'}}) }}</div>
                    <div  class="form-group row"><label class="labels">Email</label>
                    {{ form_widget(form.email,{'attr':{'class':'form-control'}}
						)}}
						{{ form_errors(form.email,{'attr':{'class':'text-danger'}}) }}</div>
                    <div  class="form-group row"><label class="labels">Telephone</label>
                    {{ form_widget(form.tel,{'attr':{'class':'form-control'}}
						)}}
						{{ form_errors(form.tel,{'attr':{'class':'text-danger'}}) }}</div>
                    <div  class="form-group row"><label class="labels">Adresse</label>
                           {{ form_widget(form.adresse,{'attr':{'class':'form-control'}}
						)}}
						{{ form_errors(form.adresse,{'attr':{'class':'text-danger'}}) }}</div>
                    <div  class="form-group row"><label class="labels">Date de naissance</label>
                           {{ form_widget(form.dns,{'attr':{'class':'form-control'}}
						)}}
						{{ form_errors(form.dns,{'attr':{'class':'text-danger'}}) }}</div>
                    
                </div>
              
                <div class=" text-center"><button class="btn btn-primary " style="background-color:#43cdb1; border-color:#43cdb1; width:50%" type="submit">
                Modifier</button></div>
            </div>
            </form>
     {{ form_end(form) }}
        </div>

        <div class="col-md-3" >
            <div class="p-3 py-5" >

                  <br><br><br>    <br><br>
               
                <div class="form-group row">
        
              <img src="https://images.squarespace-cdn.com/content/v1/548be07be4b0eefd6c538539/1462896750712-0U0AG0E7WP351H1TEIJH/image-asset.png"
                 class="img-fluid" alt="Sample image">
       
                
            </div>
            </div>
            </div>
        
        </div>
        
    </div>
</div>
</div>
</div>           
{% endblock %}








