<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zxx"> <!--<![endif]-->
{% block headback %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Bingo One page parallax responsive HTML Template ">

    <meta name="author" content="Themefisher.com">

    <title>Bit-Bank</title>

    <!-- Mobile Specific Meta
      ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Favicon -->
     <link rel="stylesheet" href="{{asset('css/font-awesome.min.css')}}">
    <link href="{{asset('img/favicon.png')}}">
    <link rel="stylesheet" href="{{asset('plugins/themefisher-font.v-2/style.css')}}"/>
    <!-- bootstrap.min css -->
    <link  href="{{asset('plugins/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="{{asset('plugins/slick-carousel/slick/slick.css')}}">
    <link rel="stylesheet" href="{{asset('plugins/slick-carousel/slick/slick-theme.css')}}">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{{asset('css/style.css')}}">



</head>
{% endblock  %}

<body id="body">
<!--
 Start Preloader
 ==================================== -->

<!--
End Preloader
==================================== -->




<!--
Fixed Navigation
==================================== -->
{%  block nav %}
{% set i=0 %}
  {% set nbr=0 %}
 {% set liv=0 %}
{% set Total=0 %}
{% for pan in panierElements | reverse %}
{% set i=i+ (pan.quantite * pan.id.prix) %}
{% set nbr= nbr+ 1 %}
 {% endfor %}
 {% if ( i <= 100) and (nbr != 0) %}
{% set liv=10 %}
{% set Total=i+liv %}
{% else %}
{% set liv=0 %}
{% set Total=liv+i %}
{% endif %}  


<section class="header  navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="#">
                        <img style="width:100px; height: 70px" src="{{asset('images/Image1.png')}}" alt="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="tf-ion-android-menu"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                              <a class="nav-link" href="{{ path('app_produit_index') }}"> <i class="fa fa-home" aria-hidden="true"></i> Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_conde_index') }}"><i class="fa fa-address-book-o" aria-hidden="true"></i> Mes Commandes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_produit_Top') }}"><i class="fa fa-level-up" aria-hidden="true"></i> TopProducts</a>
                            </li>
                            {% block  header %}
                      <li class="nav-item dropdown" style="margin-top : -30px; margin-bottom:30px">
               <div class="site-branding-area">
                 <div class="container">
                <div class="row">
                <div class="col-lg-12">
               <div class="shopping-item">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cart - <span class="cart-amunt">{{Total}} DN</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">{{nbr}}</span></a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                       {% for pan in panierElements %}
                        <a class="dropdown-item" href="#">
                        <div class="card">
                                <div class="card-body">
                                    <h5 id="prTitle">{{pan.id.nom}}</h5>
                                    <p class="card-text">Prix : {{pan.id.prix}} DN</p> <p class="card-text">Quantite : {{pan.quantite}}</p>
                            <form method="post" action="{{ path('app_panier_elem_delete', {'idElem': pan.idElem}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pan.idElem) }}">
                            <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                            </form>
                                 </div>
                        </div>
                        </a>
                        {% endfor %}
                         <a class="dropdown-item" href="{{ path('app_panier_elements') }}">View cart</a>
                     </div>
                </div>
                 </div>
          </div>
            </div>
          </li>
                            {% endblock  %}
                        </ul>
                 </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}
<!--
Welcome Slider
==================================== -->
{% block body %}

<!-- Start Pricing section
		=========================================== -->
        {% block content %}
            <h1 style = "margin-left : 590px ; margin-top : 40px">Produits</h1>
   
<section class="pricing-table section" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="row">
                         {% for produit in produits %}
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="pricing-item">
                                    <h3>{{ produit.nom }}</h3>
                                    <div class="pricing-body">
                                        <div class="price">
                                            <span>Prix  : {{ produit.prix }} $</span>
                                        </div>
                                        <div class="progress" data-percent="45%">
                                            <div class="progress-bar"></div>
                                        </div> 
                                        <p>{{ produit.description }}</p>
                                        <a class="btn btn-main" href="{{ path('app_produit_show',{'idProduit': produit.idProduit}) }}">Details</a>
                                    </div>
                                </div>
                            </div>
                             {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End container -->
</section>
        {% endblock  %}
<!-- Start Testimonial
=========================================== -->

<section class="testimonial section" id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- testimonial wrapper -->
                <div class="testimonial-slider">
                    <!-- testimonial single -->
                    <div class="item">
                        <div class="block">
                            <!-- client info -->
                            <div class="client-details">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et dicta eius, nesciunt laboriosam cumque odio veritatis hic quibusdam, impedit corporis libero tenetur blanditiis rem maiores mollitia, vero officiis nulla molestias.</p>
                            </div>
                            <!-- /client info -->
                            <!-- client photo -->
                            <div class="media client-meta">
                                <img class="mr-3 client-thumb" src="images/client-logo/clients-1.jpg" alt="Generic placeholder image">
                                <div class="media-body">
                                    <h4 class="mt-0">Matt Cutts</h4>
                                    <p>CEO, Themefisher</p>
                                </div>
                            </div>

                            <!-- /client photo -->
                        </div>
                    </div>
                    <!-- /testimonial single -->
                    <!-- testimonial single -->
                    <div class="item">
                        <div class="block">
                            <!-- client info -->
                            <div class="client-details">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et dicta eius, nesciunt laboriosam cumque odio veritatis hic quibusdam, impedit corporis libero tenetur blanditiis rem maiores mollitia, vero officiis nulla molestias.</p>
                            </div>
                            <!-- /client info -->
                            <!-- client photo -->
                            <div class="media client-meta">
                                <img class="mr-3 client-thumb" src="images/client-logo/clients-1.jpg" alt="Generic placeholder image">
                                <div class="media-body">
                                    <h4 class="mt-0">Matt Cutts</h4>
                                    <p>CEO, Themefisher</p>
                                </div>
                            </div>

                            <!-- /client photo -->
                        </div>
                    </div>
                    <!-- /testimonial single -->
                    <!-- testimonial single -->
                    <div class="item">
                        <div class="block">
                            <!-- client info -->
                            <div class="client-details">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et dicta eius, nesciunt laboriosam cumque odio veritatis hic quibusdam, impedit corporis libero tenetur blanditiis rem maiores mollitia, vero officiis nulla molestias.</p>
                            </div>
                            <!-- /client info -->
                            <!-- client photo -->
                            <div class="media client-meta">
                                <img class="mr-3 client-thumb" src="images/client-logo/clients-1.jpg" alt="Generic placeholder image">
                                <div class="media-body">
                                    <h4 class="mt-0">Matt Cutts</h4>
                                    <p>CEO, Themefisher</p>
                                </div>
                            </div>

                            <!-- /client photo -->
                        </div>
                    </div>
                    <!-- /testimonial single -->
                    <!-- testimonial single -->
                    <div class="item">
                        <div class="block">
                            <!-- client info -->
                            <div class="client-details">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et dicta eius, nesciunt laboriosam cumque odio veritatis hic quibusdam, impedit corporis libero tenetur blanditiis rem maiores mollitia, vero officiis nulla molestias.</p>
                            </div>
                            <!-- /client info -->
                            <!-- client photo -->
                            <div class="media client-meta">
                                <img class="mr-3 client-thumb" src="images/client-logo/clients-1.jpg" alt="Generic placeholder image">
                                <div class="media-body">
                                    <h4 class="mt-0">Matt Cutts</h4>
                                    <p>CEO, Themefisher</p>
                                </div>
                            </div>

                            <!-- /client photo -->
                        </div>
                    </div>
                    <!-- /testimonial single -->
                    <!-- testimonial single -->
                    <div class="item">
                        <div class="block">
                            <!-- client info -->
                            <div class="client-details">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et dicta eius, nesciunt laboriosam cumque odio veritatis hic quibusdam, impedit corporis libero tenetur blanditiis rem maiores mollitia, vero officiis nulla molestias.</p>
                            </div>
                            <!-- /client info -->
                            <!-- client photo -->
                            <div class="media client-meta">
                                <img class="mr-3 client-thumb" src="images/client-logo/clients-1.jpg" alt="Generic placeholder image">
                                <div class="media-body">
                                    <h4 class="mt-0">Matt Cutts</h4>
                                    <p>CEO, Themefisher</p>
                                </div>
                            </div>

                            <!-- /client photo -->
                        </div>
                    </div>
                    <!-- /testimonial single -->
                </div>
            </div> 		<!-- end col lg 12 -->
        </div>	    <!-- End row -->
    </div>       <!-- End container -->
</section>    <!-- End Section -->

{% endblock %}
{% block footer %}
<footer id="footer" class="bg-one">
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>INFORMATION</h3>
                    <ul>
                        <li><a href="#">Payment Option</a></li>
                        <li><a href="#">Free Schedule</a></li>
                        <li><a href="#">Getting Started</a></li>
                        <li><a href="#">Bitcoin Calculator</a></li>
                    </ul>
                </div>
                <!-- End of .col-sm-3 -->

                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>Our Services</h3>
                    <ul>
                        <li><a href="#">Graphic Design</a></li>
                        <li><a href="#">Web Design</a></li>
                        <li><a href="#">Web Development</a></li>
                    </ul>
                </div>
                <!-- End of .col-sm-3 -->

                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a href="#">Partners</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">FAQ’s</a></li>
                        <li><a href="#">Badges</a></li>
                    </ul>
                </div>
                <!-- End of .col-sm-3 -->

                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>Follow Us</h3>
                    <ul>
                        <li>
                            <a href="">
                                Facebook
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Twitter
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Linkedin
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Google PLus
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End of .col-sm-3 -->

            </div>
        </div> <!-- end container -->
    </div>
    <div class="footer-bottom">
        <h5>Copyright 2017. All rights reserved.</h5>
        <h6>Design and Developed by <a href="">Themefisher</a></h6>
    </div>
</footer> <!-- end footer -->
{% endblock %}

<!-- end Footer Area
========================================== -->



<!--
Essential Scripts
=====================================-->

<!-- Main jQuery -->
<script src="plugins/jquery/dist/jquery.min.js')}}"></script>
<!-- Bootstrap -->
<script src="plugins/bootstrap/dist/js/popper.min.js"></script>
<script src="plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Owl Carousel -->
<script src="plugins/slick-carousel/slick/slick.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- Smooth Scroll js -->
<script src="plugins/smooth-scroll/dist/js/smooth-scroll.min.js"></script>

<!-- Custom js -->
<script src="js/script.js"></script>

</body>


</html>
