
{% extends 'backbase.html.twig' %}



{% block contentback %}
	<script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
	{{ include('@MercurySeriesFlashy/flashy.html.twig') }}
	<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet'>
	<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
    

 	<link href="{{asset ('/css/formedit.css')}}" media="screen" rel="stylesheet">
	 
<link href="{{asset ('/css/inscri.css')}}" media="screen" rel="stylesheet">
<div class="registration-form">
      
            {{ form_start(formpass,{attr:{novalidate:'novalidate'}}) }}
					
			<div class="form-group">
                	<label for="inputText" class="col-sm-5 col-form-label"><b>Ancien Mot de passe</b></label>
					{{ form_widget(formpass.repeatPassword) }}

				</div>
				


				
				<div class="form-group">
                <label for="inputText" class="col-sm-5 col-form-label"><b>Nouveau Mot de passe</b></label>
					{{ form_widget(formpass.password) }}

				</div>
			


				</br>
            <div class="form-group">
				<button class="btn btn-block create-account">{{ button_label|default('Modifier') }}</button>
                
            </div>
			
{{ form_end(formpass) }}
        
       
    </div>



{% endblock %}