{% extends 'backbase.html.twig' %}

{% block title %}Comment{% endblock %}

{% block bodyback %}
    <h3 style="color: #1b6d85" align="center">Comment</h3>

    <table class="table table-success table-striped">
        <tbody>
        <tr>
            <th>Contenue</th>
            <td>{{ comment.idc }}</td>
        </tr>
            <tr>
                <th>Contenue</th>
                <td>{{ comment.contenu }}</td>
            </tr>
            <tr>
                <th>Review</th>
                <td>{{ comment.label }}</td>
            </tr>
            <tr>
                <th>Rate</th>
                <td>{{ comment.resp }}</td>
            </tr>
            <tr>
                <th>Titre publication</th>
                <td>{{ comment.idPost.id }}</td>
            </tr>
        </tbody>
    </table>

    {# <a href="{{ path('app_comment_index') }}" class="btn btn-outline-info">Retour</a> #}
    {#  <a href="{{ path('app_comment_edit', {'idc': comment.idc}) }}" class="btn btn-outline-info">Modifier</a>#}



    {{ include('comment/_delete_form.html.twig') }}
{% endblock %}
