{% extends 'backbase.html.twig' %}

{% block title %}Modifier Stock{% endblock %}

{% block contentback %}
    <link href="{{asset ('/css/formedit.css')}}" media="screen" rel="stylesheet">

    <link href="{{asset ('/css/inscri.css')}}" media="screen" rel="stylesheet">
    <h1 style="margin-top:50px ;font-family:sans-serif;font-size:50px;color: #00A8B3;
	text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
" class="centered">Modifier Stock</h1>

    {{ include('stock/_form.html.twig', {'button_label': 'Modifier'}) }}

    <center><button style="background-color: #00A8B3; border:#00A8B3"><a href="{{ path('app_stock_index') }}"style="color: white; size: 20px;">Retour</a></button></center>

    {{ include('stock/_delete_form.html.twig') }}
{% endblock %}
