{% extends 'backbase.html.twig' %}


{% block contentback %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdUser</th>
                <th>Email</th>
                <th>Password</th>
                <th>Role</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Tel</th>
                <th>Dns</th>
                <th>Locked</th>
                <th>Tentative</th>
                <th>Limite</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.idUser }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.adresse }}</td>
                <td>{{ user.tel }}</td>
                <td>{{ user.dns ? user.dns|date('Y-m-d') : '' }}</td>
                <td>{{ user.locked ? 'Yes' : 'No' }}</td>
                <td>{{ user.tentative }}</td>
                <td>{{ user.limite ? user.limite|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.image }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'idUser': user.idUser}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'idUser': user.idUser}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
